@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "MovieHub BackOffice";
}

<div class="row" style="margin-top: 9.5vh">
    <h1>Welcome to the MovieHub Backoffice.</h1>
    
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
    {
        
        <h2>Manage user settings</h2>
        <p>
            <a asp-area="Identity" asp-page="/Account/Register">Create new employee account</a>
        </p>
        <p>
            <a asp-area="" asp-controller="BackOffice" asp-action="ManageUsers">Manage user roles</a>
        </p>
    }
    
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Backoffice Employee")))
        {
            <h2 class="pt-4">Analytics</h2>
            <p>
                <a asp-area="" asp-controller="Analytics" asp-action="HallAnalytics">View analytics per hall</a>
            </p>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator")) {
                <p>
                    <a asp-area="" asp-controller="Analytics" asp-action="MovieRevenue">View revenue per movie</a>
                </p>
            }
        }
    
        <h2 class="pt-4">Survey</h2>
        <p>
            <a asp-area="" asp-controller="Surveys" asp-action="SurveyOverview">View survey responses</a>
        </p>
        <p>
            <a asp-area="" asp-controller="Analytics" asp-action="SurveyScores">View average survey scores</a>
        </p>
        
</div>