@model MovieHub.Models.Payment

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top: 120px">
    <h1>Payment</h1>
    <p>This is where the payments page goes.</p>
</div>