@{
    ViewData["Title"] = "About MovieHub";
}

<div class="row" style="margin-top: 9.5vh">
    <div class="col-md-3">
        <h1>Where to find MovieHub?</h1>
        <h5>Address</h5>
        <p>Hogeschoollaan 1, 4818 CR Breda
        </p> 
        <br/>
        <h5>On social</h5>
        <p>
            <a href="https://nl-nl.facebook.com/" target="_blank"><img src="@Url.Content("~/img/facebook.png")" style="width: 5vh" alt="Facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="@Url.Content("~/img/instagram.png")" style="width: 5vh" alt="Instagram"></a>
            <a href="https://twitter.com/" target="_blank"><img src="@Url.Content("~/img/twitter.png")" style="width: 5vh" alt="Twitter"></a>
        </p>
        <br/>

        <div class="form-group">
            <label for="from" class="col-xs-2 control-label"></label>
            <h5>Route</h5>
            <div class="col-xs-4">
                <input type="text" id="from" placeholder="your address" class="form-control">
            </div>
            <br/>
            <div class="col-xs-4">
                <button class="btn btn-primary" onclick="calcRoute();">Show directions on map</button>
            </div>
        
        </div>
        <div id="output">
                
        </div>
    </div>



        <div class="col-md-9">
            <div id="googleMap">

                <div id="map" style="height: 600px; width: 1000px"></div>
                <script>
                let map;
                let directionsService;
                let directionsRenderer;
                
                function initMap(){
               //create autocomplete objects for input
                    new google.maps.places.Autocomplete(document.getElementById("from"), {
                        fields: ["address_components"],
                        types: ["address"],
                     }).setComponentRestrictions({
                        country: ["nl"],
                     });
                      directionsService = new google.maps.DirectionsService();
                      directionsRenderer = new google.maps.DirectionsRenderer();
                      
                      const moviehub= new google.maps.LatLng(51.583698, 4.797110);
                      const mapOptions = {
                              zoom:14,
                              center: moviehub
                            };
                       map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
                             directionsRenderer.setMap(map);
                       
                     
                        const marker = new google.maps.Marker({
                                    position: moviehub,
                                    map: map,
                                    icon: src="@Url.Content("~/img/icon_moviehub.png")",})
                
                }
                           
                           
                           function calcRoute() {
                           
                            const request = {
                                origin: document.getElementById("from").value,
                                destination: "Hogeschoollaan 1, 4818 CR Breda",
                                travelMode: google.maps.TravelMode.DRIVING, //WALKING, BYCYCLING, TRANSIT
                                unitSystem: google.maps.UnitSystem.METRIC
                            };
                                 //   console.log(request);
                                 // directionsService.route(request, function(result, status) {
                                 //   if (status == 'OK') {
                                 //     directionsRenderer.setDirections(result);
                                 //   }
                                 
                             //pass the request to the route method
                                 directionsService.route(request, function (result, status) {
                                     if (status === google.maps.DirectionsStatus.OK) {
                             
                                         //Get distance and time
                                         const output = document.querySelector('#output');
                                         output.innerHTML = "<div class='route-info'>" +
                                          "Driving distance : " + result.routes[0].legs[0].distance.text + ".<br />" +
                                           "Duration : " + result.routes[0].legs[0].duration.text + ".</div>";
                             
                                         //display route
                                         directionsRenderer.setDirections(result);
                                     } else {
                                         //delete route from map
                                         directionsDisplay.setDirections({ routes: [] });
                                         //center map
                                         map.setCenter(myLatLng);
                             
                                         //show error message
                                         output.innerHTML = "<div class='alert-danger'></i> Could not retrieve driving distance.</div>";
                                     }
                                 
                                 
                                 });

                               }


                    </script>
  

            
            <script    src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvkOzTZD-QqqwMj6Q94U3l_VM1yY0_-pc&callback=initMap&libraries=places"
                       async defer></script>
            
        </div>
    </div>
</div>