@{
    ViewData["Title"] = "About MovieHub";
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="row">
    <div class="col-md-3">
        <h1>Where to find MovieHub?</h1>
       <h5>Address</h5>
        <p>Hogeschoollaan 1, 4818 CR Breda
        </p> 
        <br/>
        <h5>On social</h5>
        <p>
            <a href="https://nl-nl.facebook.com/" target="_blank"><img src="@Url.Content("~/img/facebook.png")" style="width: 5vh" alt="Facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="@Url.Content("~/img/instagram.png")" style="width: 5vh" alt="Instagram"></a>
            <a href="https://twitter.com/" target="_blank"><img src="@Url.Content("~/img/twitter.png")" style="width: 5vh" alt="Twitter"></a>
        </p>
d    </div>

    <div class="col-md-9">
        <div id="map" style="height: 600px; width: 1000px"></div>
        <script>
            var map;
            const moviehub= {lat: 51.583698, lng: 4.797110}
            function initMap(){
            map = new google.maps.Map(document.getElementById('map'), {
                center: moviehub,
                zoom: 14,
                });
             const marker = new google.maps.Marker({
                position: moviehub,
                // label: { fontWeight: 'bold', fontSize: '14px', text: 'MovieHub' },
                map: map,
                title: "MovieHub",
              });
        }
            </script>
        
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvkOzTZD-QqqwMj6Q94U3l_VM1yY0_-pc&callback=initMap"
                async defer></script>
        
   
    </div>
</div>