@using MovieHub.Models
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "RoleManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Management</h1>

<div class="text-center">
    <h1 class="display-4">Users</h1>
    @if ( @Model != null && @Model.Any())
    {
    
    <table class="table">
      <thead>
      <tr>
          <th scope="col">Role</th>
          <th scope="col">Edit</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var role in Model){
          <tr>
              <td>@role.Name</td>

              <td><button onclick="location.href='@Url.Action("Edit", "UserManagement", new {roleId = role.Id})'" style="margin-top: 24px" class="btn btn-primary btn-sizing">Update members</button></td>
          </tr>
      }
      </tbody>
    </table>
    }
    
</div>
