@model MovieHub.Models.Survey

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CinemaNumber" class="control-label"></label>
                <input asp-for="CinemaNumber" class="form-control" />
                <span asp-validation-for="CinemaNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPrice" class="control-label"></label>
                <input asp-for="TicketPrice" class="form-control" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreenQuality" class="control-label"></label>
                <input asp-for="ScreenQuality" class="form-control" />
                <span asp-validation-for="ScreenQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoundQuality" class="control-label"></label>
                <input asp-for="SoundQuality" class="form-control" />
                <span asp-validation-for="SoundQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PopcornQuality" class="control-label"></label>
                <input asp-for="PopcornQuality" class="form-control" />
                <span asp-validation-for="PopcornQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nuisance" class="control-label"></label>
                <input asp-for="Nuisance" class="form-control" />
                <span asp-validation-for="Nuisance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hygiene" class="control-label"></label>
                <input asp-for="Hygiene" class="form-control" />
                <span asp-validation-for="Hygiene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToiletHeight" class="control-label"></label>
                <input asp-for="ToiletHeight" class="form-control" />
                <span asp-validation-for="ToiletHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

