html {
  font-size: 14px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  color: #F8A613;
}

h2, h3, h4{
  color: #FFFFFF;
}
p {
  color: #FFFFFF;
}

.btn-primary {
  color: #FFFFFF;
  background-color:#000000;
  border: 2px solid #F8A613
}

.form-check-input:checked {
  background-color: #F8A613;
  border-color: #F8A613;
}

.table {
  color: #FFFFFF;
}

.form-floating {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px;
}
