@model MovieHub.Models.Survey

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facilities" class="control-label"></label>
                <input asp-for="Facilities" class="form-control" />
                <span asp-validation-for="Facilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hygiene" class="control-label"></label>
                <input asp-for="Hygiene" class="form-control" />
                <span asp-validation-for="Hygiene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodDrinks" class="control-label"></label>
                <input asp-for="FoodDrinks" class="form-control" />
                <span asp-validation-for="FoodDrinks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff" class="control-label"></label>
                <input asp-for="Staff" class="form-control" />
                <span asp-validation-for="Staff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreenQuality" class="control-label"></label>
                <input asp-for="ScreenQuality" class="form-control" />
                <span asp-validation-for="ScreenQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoundQuality" class="control-label"></label>
                <input asp-for="SoundQuality" class="form-control" />
                <span asp-validation-for="SoundQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label movie-p">How did you feel about the prices at MovieHub?</label>
                <div class="product-review-stars">
                    <input type="radio" id="price1" name="Price" value="1" class="radio-button-survey"/><label for="price1" class="p-2" title="Horrible">Horrible</label>
                    <input type="radio" id="price2" name="Price" value="2" class="radio-button-survey"/><label for="price2" class="p-2" title="Bad">Bad</label>
                    <input type="radio" id="price3" name="Price" value="3" class="radio-button-survey"/><label for="price3" class="p-2" title="Average">Average</label>
                    <input type="radio" id="price4" name="Price" value="4" class="radio-button-survey"/><label for="price4" class="p-2" title="Good">Good</label>
                    <input type="radio" id="price5" name="Price" value="5" class="radio-button-survey" required="required"/><label for="price5" class="p-2" title="Amazing">Amazing</label>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyFilledIn" class="control-label"></label>
                <input asp-for="SurveyFilledIn" class="form-control" />
                <span asp-validation-for="SurveyFilledIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
