@model MovieHub.Models.Survey

@{
    ViewData["Title"] = "Create Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-4">
    <h1>@ViewData["Title"]</h1>
        <section>
            <form id="createSurvey" method="post">
                <h2>Start a new survey on Moviehub.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Title" class="form-control" data-val="true" data-val-required="A survey title is required." />
                    <label asp-for="Title" class="form-label label-text-color"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Description" class="form-control" data-val="true" data-val-required="A survey description is required." />
                    <label asp-for="Description" class="form-label label-text-color"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <button id="survey-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create Survey</button>
                </div>
            </form>
        </section>
    </div>
</div>
