@{
    ViewData["Title"] = "Survey Thank you";
}

<div class="row" style="margin-top: 9.5vh">
    <h1>Survey completed</h1>
    
    <h2 class="pt-4">Thank you for filling out our survey.</h2>
    <p>
        We will use your results to improve our service in the cinema!
    </p>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Index">Back to movie overview.</a>
    </p>
</div>