@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the index-page of MovieHub.<br/>Site under construction</p>
    <img src="img/moviehub_square.jpg" style="width:30%"/>
</div>