@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p style="margin-bottom: 1vh">
                This app does not currently have a real email sender registered.<br/><br/>
            </p>
            <button class="btn btn-primary" id="confirm-link" onclick="location.href='@Model.EmailConfirmationUrl'">Click here to confirm your account</button>
        
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>