@model MovieHub.ViewModels.HallAnalyticsViewModel

@{
    ViewData["Title"] = "MovieHub Hall Analytics";
}

<div class="row" style="margin-top: 9.5vh">
    <h1>Hall Analytics</h1>
    <div class="col-md-2">
        <hr/>
        <p>Please select a date:</p>
        <form>
            <input class="form-control" type="date" data-val="true" data-val-required="The date field is required." name="Date"
                   value="@DateTime.Today">
        </form>
    </div>
    
    @foreach (var item in Model.Statistics)
    {
        @Html.DisplayFor(x => item.SeatsFree)
        <br/>
    }
</div>