@model MovieHub.Models.Payment

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
        @if (@Model.Status == StatusEnum.Open)
        {
            <meta http-equiv="refresh" content="1" />
            <div class="row text-center">
                <h2>Please follow the instructions on the terminal</h2>
            </div>
        }
        @if (@Model.Status == StatusEnum.Pending)
        {
            <meta http-equiv="refresh" content="1" />
            <div class="row text-center">
                <h2>Processing payment...</h2>
            </div>
        }
        @if (@Model.Status == StatusEnum.Paid)
        {
            <div class="row text-center">
                <h2>Payment successful!</h2>
                <button onclick="" class="btn btn-primary btn-sizing">Proceed</button>
            </div>
        }
</div>
